{% extends 'learning_logs/base.html' %}


{% block page_header %}
  <h1>{{ topic }}</h1>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Dodaj nowy wpis</a>
  </p>

  {% for entry in entries %}
    <div class="card mb-3">
      <!-- Nagłówek karty razem ze znacznikiem czasu i łączem umożliwiającym edycję. -->
      <h4 class="card-header">
        {{ entry.date_added|date:'d M Y H:i' }}
          <small>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edytuj wpis</a>
          </small>
      </h4>
      <!-- Treść kart razem z tekstem wpisu. -->
       <div class="card-body">{{ entry.text|linebreaks }}</div>
    </div>
  {% empty %}
    <p>Nie ma jeszcze żadnego wpisu dla tego tematu.</p>
  {%endfor %}

{% endblock content %}